.wapper {
    min-height: 70vh;
    margin-top: 120px;
    padding-bottom: 50px;
}

.cart {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 20px;
    background-color: var(--white-color);
}

.heading {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 50px;
}

.content {
    display: flex;
}

.section-left {
    width: 60%;
    height: fit-content;
    margin-right: 20px;
    border: solid 1px #666;
}

.product-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-top: 16px;
    padding-left: 15%;
    padding-right: 5%;

    p {
        width: 20%;
    }

    p:first-child {
        width: 35%;
    }
}

.product-list {
    padding: 0 20px;
}

.section-right {
    width: 40%;
    height: fit-content;
    padding: 16px 30px;
    border: solid 1px #666;

}

.pay-heading {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.pay-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: solid 1px #666;
}

.pay-btn {
    font-size: 1.8rem;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--blue-color);
    color: var(--white-color);

    a {
        display: inline-block;
        padding: 12px 36px;
    }
}

// Cart Loading

.cart-loading {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    min-width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-left: -40px;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.cart-loading-icon {
    font-size: 30px;
    animation: spin 3s linear infinite;
    color: var(--white-color);
}

@keyframes spin {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

// Tablet Screen

@media only screen and (max-width: 1024px)  {
    .cart {
        padding: 20px;
        padding-bottom: 40px;
    }

    .content {
        flex-direction: column;
    }

    .section-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .section-right {
        width: 50%;
    }
}

// Mobile Screen

@media only screen and (max-width: 740px)  {
    .cart {
        min-height: 50vh;
        padding: 10px;
        padding-bottom: 20px;
    }

    .heading {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .section-right {
        width: 100%;
    }
    
    .section-left {
        margin-right: 0;
    }

    .product-title {
        padding-right: 0;
        font-size: 1.4rem;
    }

    .product-list {
        padding: 0;
    }

    .section-right, .section-left {
        border: none;
    }
    
    .pay-btn {
        font-size: 1.4rem;
    }
}