.wapper {
    margin-top: 120px;
    min-height: 70vh;
    padding-bottom: 50px;
}

.product {
    display: flex;
    max-width: 1260px;
    min-height: 500px;
    padding: 0 30px;
    margin: 0 auto;
    border-radius: 5px;
}

.product-image {
    width: 45%;
    padding: 50px;
    border-right: solid 1px #bbb;
    background-color: var(--white-color);

    img{
        display: inline-block;
        width: 100%;
    }
}

.product-info {
    width: 55%;
    padding-left: 40px;
    padding-top: 20px;
    position: relative;
    background-color: var(--white-color);
}

.product-name {
    font-size: 2.7rem;
}

.product-price {
    font-size: 2.5rem;
    margin-top: 20px;
    color: var(--blue-color);

    span {
        font-size: 1.8rem;
        color: initial;
        margin-right: 5px;
    }
}

.product-quantity {
    margin-top: 20px;
}

.quantity-title {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.quantity-form {
    display: flex;
    align-items: center;
    width: fit-content;
    border: solid 2px var(--dark-gray-color);
}

.quantity-input {
    text-align: center;
    width: 80px;
    padding: 3px 5px;
    border-left: solid 2px var(--dark-gray-color);
    border-right: solid 2px var(--dark-gray-color);
    font-size: 1.6rem;

    background-color: transparent;
}

.reduce-btn,.increase-btn {
    font-size: 1.6rem;
    padding: 2px 4px;
    user-select: none;
    cursor: pointer;
}

.add-btn {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 1.8rem;
    padding: 10px 30px;
    border-radius: 8px;

    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
}

.add-product-toast {
    position: fixed;
    top: 90px;
    right: 10px;

    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

    color: var(--white-color);
    background-color: #5cb85c;

    z-index: 9;
}

//Product Loading

.product-loading {
    display: flex;
    max-width: 1260px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 5px;
}


.product-loading-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #bbb;
    background-color: var(--white-color);
}

.product-loading-image-item {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
}

.product-loading-icon {
    font-size: 24px;
    color: var(--dark-gray-color);
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.product-loading-info {
    position: relative;
    width: 55%;
    padding: 30px;
    background-color: var(--white-color);
}

.product-loading-name {
    width: 80%;
    height: 28px;
    margin-bottom: 26px;
    background-color: var(--text-color);
}

.product-loading-price,.product-loading-quantity {
    width: 50%;
    height: 24px;
    background-color: var(--text-color);
}

.product-loading-price {
    margin-bottom: 26px;
}

.product-loading-add-btn {
    width: 30%;
    height: 7%;
    position: absolute;
    bottom: 20px;
    left: 40px;
    border-radius: 8px;
    background-color: var(--text-color);
}


// Mobile Screen

@media only screen and (max-width: 740px)  {
    .product {
        flex-direction: column;
    }

    .product-image, .product-info {
        width: 100%;
    }

    .product-image,.product-loading-image {
        border-right: none;
        border-bottom: solid 1px #bbb;
    }

    .product-image {
        padding: 20px;
    }

    .add-btn {
        position: static;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .add-product-toast {
        font-size: 12px;
        padding: 5px;
    }

    .product-loading {
        flex-direction: column;
        padding: 0 30px;
    }

    .product-loading-image, .product-loading-info {
        width: 100%;
        height: 300px;
    }
    
    .product-loading-add-btn {
        width: 60%;
        height: 9%;
    }
}