.wrapper {
    background-color: #222;
}

.footer {
    max-width: 1260px;
    margin: 0 auto;
    padding: 38px 30px;
    color: var(--text-color);
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-content {
    width: 20%;
    margin-bottom: 20px;
}

.heading {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.option-item {
    display: block;
    margin-bottom: 10px;
    font-size: 1.25rem;   
    font-weight: 400;
    line-height: 1.6;
    
    a {
        position: relative;
        padding-bottom: 2px;
    }

    a::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--text-color);
        transition: width 0.6s;
    }

    a:hover::after {
        width: 100%;
    }
}

.phone-number {
    letter-spacing: 0.5px;
    color: var(--blue-color);
}

// Mobile Screen

@media only screen and (max-width: 740px)  {
    .about {
        flex-wrap: wrap;
    }
    
    .about-content {
        width: 50%;
    }

    .heading {
        margin-bottom: 10px;
    }

    .option-item {
        margin-bottom: 4px;
    }
}