.product-link {
    display: block;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white-color);

    &:hover {
        box-shadow: 1px 1px 28px 0px rgb(0, 0, 0, 0.1);
    }
}

.product-image {
    user-select: none;
    width: 100%;
}

.product-name {
    font-size: 2rem;
    height: 50px;
}

.product-price {
    color: var(--blue-color);
    font-size: 1.6rem;
}

// Tablet Screen

@media only screen and (max-width: 1024px)  {
    .product-link {
        width: 33.333%;
    }
}

// Mobile Screen

@media only screen and (max-width: 740px)  {
    .product-link {
        width: 50%;
    }

    .product-item {
        height: 300px;
        padding: 18px;
    }

    .product-name {
        font-size: 1.8rem;
        height: 68px;
    }
    
    .product-price {
        font-size: 1.4rem;
    }
}